<script type="text/javascript">

/* INSTRUCTIONS:
//
// Change ONLY the text between the single quotes 
// whatever you put between the single quotes will appear in the form 
// as the options in the flavor selections
//
// CAUTION: be sure there is a comma after every flavor (outside the quotes),
//  and no comma after the last flavor.                                      */

var flavors = [
	'Cookies and Cream',
	'Toasted Marshmallow',
	'Cake Batter',
	'Pumpkin',
	'Salted Caramel Gelato',  
	'Vanilla',
	'Peanut Butter',
	'Chocolate',
	'Original Tart',
	'NSA Strawberry',
	'NSA Cheesecake',
	'Chocolate Ice Cream',
	'Vanilla Ice Cream',
	'Green Apple (Non-Dairy)',
	'Dole Raspberry (Non-Dairy)',
	'Dole Pineapple (Non-Dairy)'
];

</script>
