<script type="text/javascript">
	//   Edit the prices below to change flat-rate ordering prices
	var cupPrices = {
		// kids: 'Kids (8 oz) - $4.25 + tax',
		small: 'Small (12 oz) - $5.75 + tax',
		medium: 'Medium (16 oz) - $7.50 + tax',
		large: 'Large (24 oz) - $9.50 + tax'
	};

 //  Change the quoted part to change the price of the Thursday price for small cups
  var spcl = 'SPECIAL - Small (12 oz) $4.00 plus tax';

 // set or change opening and closing times
 var openingTime = 12;
 var closingTime = 9;

</script>
